    /* body */
    body {
        font-family: Arial, Helvetica, sans-serif;
       background-color:darkgray;
       font-weight: bold;
    }

    /* header*/
  
    .title1-darkblue {
        color:#00177D;
        font-size: 36px;
        font-weight: bolder;
       -webkit-text-stroke: 2px black;
       text-align: center;
       text-shadow: 2px 2px 6px black;
    }
    .title1-darkblue {
        background-image:linear-gradient(45deg, #A3E4FF,#00177D);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: glowing 2s ease-in-out infinite;
    }
    @keyframes glowing {
        0% {background-position: 0 0;}
        50%  {background-position: 400% 0;}
        100% {background-position: 0 0;}
    }
    .gras {
        color:darkblue;
        font-weight: bolder;
    }
    header p {
        text-align: center;
    }
     #logo-cosanostra {
         margin-bottom: -100px;
         animation: rotate 2s linear ;
         border: solid white;
         filter: none;
         box-shadow: 5px, 5px, 15px, rgb(0, 0, 0, 0.5);
     }
     @keyframes rotate{
        0%{transform: rotate(0deg);}
        100%{transform: rotate(360deg);}
     }
     /* main */
     section.columns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
     }
     .col {
        overflow: scroll;
        height: 300px;
     }
     h2 {
        color: darkblue;
        font-weight: bold;
     }
     img {
        box-shadow: 5px 5px 15px rgba(0, 0, 0 , 0.5);
        border: solid black;
        transition: filter 0.4s ease;
     }
     img:hover {
        filter: blur(2px);
     }
     a:hover {
        background-color: black;
        color: darkgray;
        font-weight: bolder;
     }
     @media screen and (max-width: 400px){
        section.columns {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
     }
     img {
        width: 100%;
        height: auto;
     }
     }  
     